<div class="container-fluid bg-light" style="min-height: 100vh">
  <!-- Main section with light background -->
  <section class="bg-light">
    <div class="container py-5">
      <!-- Category selection buttons -->
      <app-test></app-test>
      <div class="d-flex align-items-center justify-content-center mb-4">
        @for (category of categoryList; track category) {
          <button
            class="btn mx-2"
            [ngClass]="selectedCategory === category ? 'btn-primary' : 'btn-outline-primary'"
            (click)="filetedCategory(category)"
          >
            {{ category }}
          </button>
        }
      </div>
      <!-- Display the number of items and sorting options if a category is selected -->
      <div class="d-flex justify-content-between align-items-center mb-4" *ngIf="selectedCategory">
        <!-- Display the number of items found -->
        <div class="col-3">
          <p class="text-left mb-0">{{ filteredProducts.length }} items found</p>
        </div>
      </div>

      <div class="row">
        <!-- Display message if no products are found -->
        @if (filteredProducts.length === 0) {
          <ng-container>
            <div class="col-md-12 text-center">
              <h6>No Product in this category</h6>
            </div>
          </ng-container>
        }
        <!-- Display product cards if products are found -->
        @if (filteredProducts.length > 0) {
          <ng-container>
            @for (item of filteredProducts; track item.productId) {
              <div class="col-md-12 col-lg-3 pt-2 mb-4 mb-lg-0">
                <app-product-card [Product]="item"></app-product-card>
              </div>
            }
          </ng-container>
        }
      </div>
    </div>
  </section>
</div>
